{% extends "layout.html" %}
{% block title %} Winners {% endblock %}
{% block content %}


<div class="container">
    <div class="row align-items-start text-center">
        <div class="col border border-dark ">
            <h1>Position</h1>
        </div>
        <div class="col border border-dark ">
            <h1>Nick</h1>
        </div>
        <div class="col border border-dark ">
            <h1>Seconds</h1>
        </div>
    </div>

    {% for winner in winners %}
        <div class="row text-center">
            <div class="col border border-dark ">
                <h3>{{ loop.index }}</h3>
            </div>
            <div class="col border border-dark ">
                <h3>{{ winner['nick'] }}</h3>
            </div>
            <div class="col border border-dark ">
                <h3>{{ winner['seconds'] }}</h3>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
